@import "config";

.background-box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(transparent 25%, $Color-primary 110%);
    justify-content: space-between;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        z-index: -1;
    }
    .logo {
        font-size: 10rem;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 5%;
        color: $Color-primary;
        filter: drop-shadow(3px 5px 2px rgba(15, 15, 15, 0.4));
        border-bottom: 1px $Color-primary dashed;
        height: fit-content;
        background-image: linear-gradient(to right, $Color-primary 0%, $Color-additional 50%, $Color-primary 100%);
        background-size: 200% auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        animation: textclip 4s linear infinite;
        @media (max-width: $Bp-footer-l) {
            font-size: 8rem;
            margin-top: $Whitespace-l;
        }
        @media (max-height: $bp-height-m) {
            font-size: 8rem;
            margin-top: $Whitespace-l;
        }
        @media (max-width: $Bp-footer-m) {
            font-size: 7rem;
            margin-top: $Whitespace-m;
        }
        @media (max-width: $Bp-header-xs) {
            font-size: 6rem;
            margin-top: $Whitespace-s;
        }

        &::after {
            content: "ambient";
            margin-left: -41.2rem;
            @media (max-width: $Bp-footer-l) {
                margin-left: -32.75rem;
            }
            @media (max-height: $bp-height-m) {
                margin-left: -32.55rem;
            }
            @media (max-width: $Bp-footer-m) {
                margin-left: -28.75rem;
            }
            @media (max-width: $Bp-header-xs) {
                margin-left: -24.6rem;
            }
        }
    }
}

.footer {
    background-color: $Color-primary;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: $Whitespace-l;
    text-align: center;
    @media (max-width: $Bp-footer-l) {
        grid-template-columns: 1fr;
    }
    @media (max-width: $Bp-footer-m) {
        padding: $Whitespace-m;
    }
    &__description {
        border-right: 1px solid $Color-secondary;
        padding-right: $Whitespace-l;

        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $Bp-footer-l) {
            border-right: none;
            border-bottom: 1px solid $Color-secondary;
            padding: 0 0 $Whitespace-l 0;
        }
        @media (max-width: $Bp-footer-m) {
            padding-bottom: $Whitespace-m;
        }
        &-content {
            max-width: 80rem;
        }
    }
    &__credits {
        padding-left: $Whitespace-l;
        display: flex;
        flex-direction: column;
        @media (max-width: $Bp-footer-l) {
            padding: $Whitespace-l 0 0 0;
        }
        @media (max-width: $Bp-footer-m) {
            padding-top: $Whitespace-m;
        }
        .social-media-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            padding: 1rem;
            &__item {
                font-size: 5rem;
                transition: all;
                transition: 0.2s;
                opacity: 0.7;
                &:hover {
                    transform: scale(115%);
                    opacity: 1;
                }
            }
        }
    }

    .name {
        background-image: linear-gradient(to right, #e14a7c 0%, lighten($Color-additional, 20%) 50%, #e14a7c 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        font-weight: 700;
    }
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.sound-menu {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: $Whitespace-l;
    align-items: center;
    justify-content: center;

    @media (max-height: $bp-height-xl) {
        gap: $Whitespace-m;
        width: 70%;
    }
    @media (max-height: $bp-height-xl) {
        width: 100%;
    }
    @media (max-width: $Bp-footer-l) {
        gap: $Whitespace-s;
        width: 100%;
    }

    .play-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        &__btn {
            background-color: transparent;
            border: none;
        }
    }
}
.reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
.settings-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.settings-box {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($Color-primary, 0.95);
    position: absolute;
    top: 12rem;
    right: 2rem;
    &__image-button {
        width: 100px;
        height: 100px;
        border: none;
        cursor: pointer;
        transition: all 200ms;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0px 0px 17px 8px rgba(34, 34, 37, 1);
        &:hover {
            transform: scale(110%);
        }
        &__photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__background-picker {
        display: flex;
        margin: 1rem 0 1rem 0;
        gap: 2rem;
    }
}
